form {
  height: 40%;
}

.buttonbox {
  height: 50%;
  background: #f0a007;
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  color: white;
  font-size: 118%;
  background: #d94546;
  height: 40px;
  width: 125px;
  border-radius: 25px;
}

.inputbox {
  height: 50%;
  background: #6adcdd;
  display: flex;
  justify-content: center;
  align-items: center;
}

input {
  height: 30px;
  width: 150px;
  font-size: 110%;
}
